* {
  margin: 0px;
  padding: 0px;
}
#navbar {
  width: 100%;
  height: 50px;
  background-color: rgb(40, 116, 240);
  border-radius: 5px;
}
#navbar > div {
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
#navbar > div > div {
  display: flex;
  align-items: center;
}
#navbar > div > div:nth-child(1) {
  height: 100%;
  width: 12.7%;
}
#navbar h4 {
  color: yellow;
  font-weight: 100;
}
#navbar > div > div:nth-child(2) {
  height: 100%;
  width: 65%;
}
#navbar > div > div:nth-child(3) {
  height: 100%;
  width: 30%;
  justify-content: space-around;
}
#navbar input {
  border: 1px solid rgb(225, 225, 225);
  width: 54%;
  height: 62%;
  outline: none;
  padding-left: 10px;
  border-radius: 3.5px;
}
#navbar input:focus {
  box-shadow: rgba(9, 164, 211, 0.05) 0px 1px 0px,
    rgba(8, 170, 219, 0.6) 0px 0px 8px;
}
#button {
  border: 1px solid rgb(225, 225, 225);
  height: 62%;
  width: 62px;
  margin-left: -10px;
  background-color: white;
  border-radius: 3px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
#navbar a {
  color: white;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#button > a {
  color: black;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}
#iKart > a {
  font-size: 18px;
  color: yellow;
  font-family: "Times New Roman", Times, serif;
}
#nav-select {
  background-color: rgb(40, 116, 240);
  color: white;
  border: none;
}
#navbar option{
  border: 1px solid rgb(204,204,204);
  width: 300px;
  height: 150px;
  color: black;
  margin-top: 15px;
  background-color: white;
}

@media all and (min-width: 450px) and (max-width: 800px) {
  #navbar > div {
    width: 90%;
  }
  #navbar > div > div:nth-child(2) {
    height: 100%;
    width: 40%;
  }
  #navbar > div > div:nth-child(3) {
    height: 100%;
    width: 40%;
    justify-content: space-around;
  }
  #navbar input {
    margin-left: 20px;
  }
}
@media all and (min-width: 50px) and (max-width: 450px) {
  #navbar > div {
    width: 95%;
  }
  #navbar > div > div:nth-child(2) {
    height: 100%;
    width: 30%;
  }
  #navbar > div > div:nth-child(3) {
    height: 100%;
    width: 45%;
    justify-content: space-around;
  }
}
