*{
    margin: 0px;
    padding: 0px;
}
#topResults{
    width: 87%;
    margin: auto;
    font-size: 14px;
    margin-top: 20px;
}
h3{
    font-size: 24px;
    font-weight: 100;
}
#container{
    width: 87%;
    height: auto;
    margin: auto;
    margin-top: 9px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(auto);
    gap: 0px 30px;
}
#container>div>div{
    border: 1px solid rgb(225,225,225);
    border-radius: 5px;
    height: auto;
}
#container>div>div>div:nth-child(1){
    padding: 15px;
}
#container>div>div>div:nth-child(2){
    padding: 10px 10px 0px 10px;
}
img{
    width: 100%;
    height: 100%;
}
img:hover{
    cursor: pointer;
}
p{
    font-size: 14px;
    line-height: 20px;
}
p+p{
    color: #219fd1;
    margin: 2px 0px 0px 0px;
}
hr+div{
    display: flex;
    justify-content: space-around;
    padding: 12px 0px;
}
hr+div>div{
    display: flex;
}
a{
    font-size: 12px;
    margin-top: -1px;
    color: #337ab7;
    cursor: pointer;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:hover{
    text-decoration: underline;
    color: lightslategrey;
}
i{
    margin-right: 5px;
    font-size: 11px;
}
span{
    font-size: 25px;
    color: rgb(225,225,225);
    margin: -10px 0px -10px 0px;
}
@media all and (min-width: 450px) and (max-width: 770px){
    #container{
        width: 87%;
        margin: auto;
        margin-top: 9px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(auto);
        gap: 0px 20px;
    }
}
@media all and (min-width: 0px) and (max-width: 450px){
    #container{
        width: 87%;
        margin: auto;
        margin-top: 9px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(auto);
        gap: 0px 20px;
    }
}